header{
	background-color:#8661C1;
	position:fixed;
	width:100%;
	z-index:10;
	top:0px
	
}
ul {
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}
li {
  display:inline-block;
  color: #FFF;
  font-family:Arial Black;
  font-size: 16px;
  font-weight: 300;
  width:160px;
}
a{
	text-decoration:none;
	color:#2E294E;
}
body {
  background-color: #FFF;
  margin: 0 auto;
}