body {
  background-color: #969696;
}
.Nav-Main{
	width:100%;
	height:60px;
	background-color:#FFF;
	display:flex;
	flex-wrap:wrap;
	z-index:1000;
	position:fixed;
	top:0;
	left:0;
}
.Nav-Toggle-Button{
	width:60px;
	height:100%;
	background-color:#454545;
	background-image:url("https://www.alecharvey.net/graphics/hamburger.png");
	background-repeat:no-repeat;
	background-size:60%;
	background-position:center;
	cursor:pointer;
}
.Nav-Toggle-Button:hover{
	opacity:80%;
}
.logo{
height:100%;
width:100%;
float:right;
}
.Nav-Main ul {
	font-weight:900;
	display:flex;
	flex-wrap:wrap;
	padding-left:15px;
}
.Nav-Main ul li{
	list-style:none;
	line-height:100%;
}
.Nav-Main ul li a{
	display:block;
	height:100%;
	padding:0 20px;
	text-transform:uppercase;
	text-decoration:none;
	color:#1c1c1c;
	font-family:Comic Sans MS;
	font-size:16px;
}
.Nav-Aside{
	position:fixed;
	left:0;
	bottom:0;
	width:50px;
	height:calc(100vh-60px);
	padding:0 5px;
	background-color:#000;
	top:60px;
	z-index:1000;
	transition:all 0.3s ease-in-out;
}
.Nav-Aside ul{
	font-weight:900;
	padding-top:15px;
	padding-left:0px;
	overflow:hidden;
	visibility:hidden;
}
.Nav-Aside ul li{
	line-height:40px;
	list-style:none;

}
.Nav-Aside ul li span,.Nav-Aside ul li a{
	display:block;
	height:40px;
	padding:0 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	font-family:Comic Sans MS;
	font-size:12px;
	white-space:nowrap;
	opacity:0;
	transition:all 0.3s ease-in-out;
}
.Nav-Aside ul li a:hover{
	background-color:#454545;
}
.introduction,.portfolio{
	position:relative;
	padding:50px 60px;
	font-family:Comic Sans MS;
	text-align:center;
	font-weight:900;
	margin:auto;
}
.introduction p {
	width:40%;
	margin:auto;
	font-size:21px;
}
.Project1 ul,.Project2 ul{
	list-style: none;
    width: 100%;
    height: 200px;
	display:flex;
	flex-wrap:wrap;
	display: inline-block;
}
.Project1 ul li video,.Project1 ul li p,.Project2 ul li video,.Project2 ul li p{
    width: 40%;
    height: 100%;
}
.Project1 ul li video,.Project2 ul li video{
	float:right;
}
.Project1 ul li p,.Project2 ul li video{
	float:left;
	text-align:center;
	font-size:21px;
}
.footer{
	width:100%;
	height:60px;
	margin-top:auto;
	background-color:#FFF;
	display:flex;
	flex-wrap:wrap;
	position:relative;
}
.footer ul {
	font-weight:900;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
}
.footer ul li{
	list-style:none;
	line-height:100%;
}
.footer ul li a{
	display:block;
	height:100%;
	right:50px;
	padding:0 20px;
	text-transform:uppercase;
	text-decoration:none;
	color:#1c1c1c;
	font-family:Comic Sans MS;
	font-size:16px;
}