body {
  background-color: #F1F1F1;
}
.Nav-Main{
	width:100%;
	height:60px;
	background-color:#FFF;
	display:flex;
	flex-wrap:wrap;
	z-index:1000;
	
}
.Nav-Toggle-Button{
	width:60px;
	height:100%;
	background-color:#000;
	background-image:url("graphics/hamburger.png");
	background-repeat:no-repeat;
	background-size:40%;
	background-position:center;
	cursor:pointer;
}