.App {
  text-align: center;
  background-image: url("./images/hipsternodeimage.png");
}
.App-logo {
  max-width: 50px;
  height: auto;
  pointer-events: none;
  filter: invert(89%) sepia(90%) saturate(4%) hue-rotate(181deg) brightness(110%) contrast(97%);
}
.App-link {
  color: #61dafb;
}
#logo{
  margin-left: 15px;
  margin-right: 10%;
  background-color: #22181c;
  border: 0px;
  animation-name: none;
}
.primary-text-color{
  color: #84DCCF;
}
.highlight-color{
  color: #EF626C;
}
.button{
  display: flex;
  border: 0px;
  padding: 0px 15px;
  font-size: calc(5px + 2vmin);
  background-color: #22181c;
  border-radius: .5rem;
  color: #F6E8EA;
  min-height: 100%;
}
.email-button{
  width: 50%;
  height:20%;
  text-decoration: none;
  color: #84DCCF;
  border: 2px solid #919191;
  border-radius: 1rem;
  background-color: #919191;
}
nav{
  background-color: #22181c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 40px;
  min-height: 5vh;
  align-items: center;
  align-content: center;
}
.main-body{
  height: calc(100vh - 70px);
}
.half-height{
  height: 50%;
}
h1{
  margin: 0;
  margin-top: 25%;
}
.card-spacing{
  padding: 5vh 15%;
  height: 90%; 
}
.card{
  height: 100%;
  border: 2px solid black;
  background-color: #312F2F;
  border-radius: 1rem;
}
.large-box{
  height: 50%;
  width: 50%;
  margin-top: 5%;
  vertical-align: middle;
}
.large-font{
  font-size: calc(15px + 2vmin);
}
.medium-font{
  font-size: calc(1px + 2vmin);
}
.small-font{
  font-size: calc(1px + 1.5vmin);
}
.small-box{
  padding: 0px 10%;
  height: 10%;
  width: 100%;
}
.picture{
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  border: 10px solid rgb(0, 0, 0);
  border-radius: 1rem;
  object-fit: contain;
}
.h90{
  height: calc(90% - 6rem);
}
.w100{
  width: 100%;
}
.w33{
  width: 33%;
}
.h33{
  height: 33%;
}
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.align-center{
  align-items: center;
}
.h20{
  height: 20%;
}
.h80{
  height: 80%;
}
.w66{
  width: 66%;
}
.m1{
  margin: 2rem;
}
.home-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}
a img{
  height: 100%;
}
ul li{
  padding: 0px 10px;
}
ul{
  margin: 1rem 0px;
  list-style: none;
}
.footer-parent{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.small-box li{
  width: 15%;
}
.half-width{
  width: 50%;
}
.icon:hover{
  animation-name: fade-darker;
  animation-duration: 1s;
  filter: invert(89%) sepia(90%) saturate(4%) hue-rotate(181deg) brightness(110%) contrast(97%);
}
@keyframes fade-darker {
  0%{filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(0%);}
  100%{filter: invert(89%) sepia(90%) saturate(4%) hue-rotate(181deg) brightness(110%) contrast(97%);}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    size: 20px;
  }
}
@media only screen and (max-width:1030px) {
  #picture{
    width: 70%;
    height: 45%;
  }
  h1{
    margin-top: 0;
  }
  #logo{
    display: none;
  }
  .button{
    width: 16%;
  }
  .large-box{
    width: 70%;
    height: 25%;
    text-align: center;
    font-size: calc(15px + 2vmin);
  }
  .small-box{
    padding: 0;
  }
  .small-box li{
    height: 30%;
  }
}

